/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */


body {
  background-image: url('/img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}

a {
  color: #F2F2F2;
  text-decoration: none;
}

a:hover {
  color: #E0E0E0;
  text-decoration: none;
}

nav {
  background-color: rgba(196, 196, 196, 0.20);
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.menu {
  width: 100%;
}

.content {
  width: 100%;
}


.nav {
  width: 100%;
}

.active {
  color: #BFB4A2 !important;
}

/* FilmDetails */

.details-page {
  background-color: white;
  width: 90%;
  margin: 6vh auto;
}

.video-container {
  width: 100%;
  background-color: black;
}

.details-content {
  padding: 2vh 2vw;
  font-family: 'Open Sans', sans-serif;
}

.details-content-text > a {
  color: black;
}

.details-content-text > a:hover {
  color: blue;
}

.back-link {
  margin-bottom: 1vh;
  display: inline-block;
}

.crew-item {
  /* width: 40%; */
}

.crew-title {
  font-weight: 600;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }

  ul {
    padding-left: 0%;
    flex-direction: column;
    justify-content: flex-start;
  }

  li {
    margin-bottom: 4vh;
    font-size: 1.3em;
  }

  .main {
    flex-direction: row;
    height: 100vh;
  }

  .menu {
    width: 20%; 
  }

  .content {
    width: 80%;
    max-height: 100vh;
    overflow: auto;
  }

  .nav {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 20%;
  }

  #logo-image {
    max-width: 100%;
    height: auto;
  }

  .nav-links {
    margin-left: 8%;
    width: 30%;
  }

  .list {
    padding: 2vh 0 2vh 0;
    overflow: auto;
    max-height: 100vh;
  }
  
  .card {
    border-radius: 0%;
    width: 90%;
    margin: 8vh auto;
  }

  .card-click {
    padding: 2%;
  }

  .details-content {
    display: flex;
    justify-content: space-between;
  }

  .details-content-text {
    width: 60%;
    text-align: justify;
  }

  .details-content-images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .thumb-link {
    margin-bottom: 2vh;
  }

  .crew {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .crew-item {
    width: 80%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
