/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */
* {
  box-sizing: border-box;
}

body {
  /* background-image: url('/img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

*:focus  
{  
    outline: none;  
}


#bg {
  /* positioning video background */
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%) scale(1.03);
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 50%;
  overflow: hidden;
  z-index: -100;
}

.bg-img:before{
  content: "";
  background: inherit; 
  position: absolute;
  left: -1vw;
  right: 0;
  top: -1vh; 
  bottom: 0;
  min-width: 102vw;
  min-height: 102vh;
  overflow: hidden;
  /* fade */
  z-index: -98;
  transition: filter .3s;
}

.blur:before {
  filter: blur(5px);
}

.blur-video {
  filter: blur(5px);
}

a {
  color: #F2F2F2;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #E0E0E0;
  text-decoration: none;
}

/* mobile navbar */
nav {
  /* background-color: rgba(196, 196, 196, 0.20); */
  /* background-color: rgba(240, 235, 224, 0); */
  background-image: linear-gradient(to right, rgba(41, 40, 37, 0.6), rgba(41, 40, 37, 0));
  display: flex;
  align-items: center;

  transition: left 0.5s;
  position: fixed;
  left: 0;
  width: 60%;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.inactive {
  left: -100%; 
  /* background-color: rgba(196, 196, 196, 1); */
  /* background-color: rgba(240, 235, 224, 0.2); */
}

.nav-collapse {
  height: 35%;
  width: 100%;
  margin-bottom: 2vh;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 18vw;
}

li {
  list-style: none;
  margin-bottom: 4vh;
}

.desktop-only {
  display: none;
}

#logo-image-mobile {
  display: block;
  width: 70%;
  margin-left: 5vw;
  margin-bottom: 4vh;
}

#logo-image-mobile>img {
  width: 100%;
}

.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.content {
  height: 100vh;
  overflow: auto;
}

/*
.nav {
  width: 100%;
} */

.active {
  color: #BFB4A2 !important;
}

.page-title-mobile {
  color: #F2F2F2;
  font-size: 2rem;
  text-align: center;
  margin-top: 2vh;
}

.dark {
  color: #212529;
}

.mobile-hr {
  width: 62%;
  border: 2px solid #F2F2F2;
  margin: 0.5vh auto 3vh auto;
}

.hr-dark {
  border: 2px solid #212529;
}

/* FilmDetails */

.details-page {
  background-color: white;
  width: 90%;
  margin: 6vh auto;
}

.video-container {
  width: 100%;
  background-color: black;
}

.details-content {
  padding: 2vh 2vw;
  /* font-family: 'PT Sans', 'Open Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}

.back-link {
  margin-bottom: 1vh;
  display: inline-block;
}

.back-link-mobile {
  width: 70%;
  margin: 0 auto 3vh auto;
}

.details-content-text > a {
  color: black;
  transition: color 0.2s
}

.details-content-text > a:hover {
  color: rgb(97, 97, 97);
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
}

.year-duration {
  color: gray;
  margin-bottom: 1.6rem;
}

.details-margin {
  margin-bottom: 1.8rem;
}

.details-section-header {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.crew-item {
  /* margin-left: 0.5em; */
}

.crew-title {
  font-weight: 400;
  font-size: 1rem;
  /* font-family: 'pt sans'; */
}

.festivals-list-item {
  list-style-type: none;
  list-style-position: inside;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  text-align: start;
}

.review-link {
  color: #212529;
  text-decoration-line: underline;
}

.review-content {
  text-indent: 1.5rem;
}

/* FilmList mobile */

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8vh 2vw 2vh 2vh;
  overflow: auto;
  height: 100vh;
}

.list-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 1vh 3vw;
}

.card {
  border: none;
  margin: 2vh 2.5vw 4vh 2.5vw;
  background: none;
}

.card-click {
  /* border: 2px solid #F2F2F2; */
  width: 60vw;
  height: 80vw;
  background-size: auto 100%;
  transition: background-size 0.3s;
}

.card-click:hover {
  background-size: auto 102%;
}

.card-title {
  margin: 0;
  padding: 2%;
  text-align: center;
  color: #F2F2F2;
  font-size: 1.3rem;
  text-decoration: underline;
}

/* About */
.about-container {
  background-color: white;
  border-radius: 5px;
  margin: 6vh 8vw;
  padding: 2vh 3vw;
}

.about-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  padding: 0 4vw;
  /* text-indent: 1.5rem; */
  /* text-align: justify; */
  color: #212529;
}

 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }

  #bg, .bg-img {
    background-size: cover;
    background-position: center;
  }

  .main {
    flex-direction: row;
    height: 100vh;
  }

  main {
    width: 80%;
    max-height: 100vh;
    overflow: auto;
  }

  img {
    width: 100%;
    height: auto;
  }


  /* navbar desktop */

  ul {
    padding: 10%;
    flex-direction: column;
    justify-content: flex-start;
  }

  li {
    margin-bottom: 4vh;
    font-size: 1.3rem;
  }

  nav {
    position: static;
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 15%;
  }

  #logo-image {
    max-width: 100%;
    height: auto;
  }

  #logo-image-mobile {
    display: none;
  }

  .nav-collapse {
    display: flex;
    padding-top: 10vh;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-links {
    margin-left: 0%;
    width: 30%;
  }

  .desktop-only {
    display: block;
  }

  /* end navbar desktop */

  .list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8vh 2vw;
    overflow: auto;
    height: 100vh;
  }
  
  .list-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 1vh 3vw;
  }
  
  .card {
    border: none;
    margin: 2vh 2.5vw 4vh 2.5vw;
    background: none;
  }

  .card:last-of-type {
    margin-bottom: 6vh;
  }
  
  .card-click {
    /* border: 2px solid #F2F2F2; */
    width: 16.5vw;
    height: 22vw;
    background-size: auto 100%;
    transition: background-size 0.3s;
  }

  .card-click:hover {
    background-size: auto 102%;
  }

  .card-title {
    margin: 0;
    padding: 2%;
    text-align: center;
    color: #F2F2F2;
    font-size: 1.3rem;
    text-decoration: underline;
  }

  .details-section {
    display: flex;
    justify-content: space-between;
  }

  .details-content-text {
    width: 60%;
    text-align: justify;
    padding-right: 2vw;
  }

  .gallery {
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .no-pad-top {
    padding: 0;
  }

  .thumb-link {
    margin-bottom: 4vh;
    transition: opacity 0.15s;
  }
  
  .thumb-link:hover {
    opacity: 0.95;
  }

  .crew {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .crew-item {
    width: 100%;
  }

  .about-container {
    /* margin: 10vh 5vw;
    min-height: 80vh;
    background-color: rgba(97, 97, 97, 0.8);
    font-family: 'Open Sans', sans-serif; */
  }

  .about-description {

  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
